.Weather {
  border: 1px solid #ecedef;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  margin: 0px auto;
  padding: 50px 50px;
  max-width: 800px;
}
.weather-title {
  font-size: 22px;
}

.Weather h1 {
  margin: 20px 0;
}
.Weather h2 {
  color: #202124;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 0px;
}
.Weather ul {
  padding: 0px;
}
.temperature {
  display: inline-block;
  vertical-align: top;
  font-family: Google Sans, Arial, sans-serif;
  padding-left: 10px;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 56px;
}
.Weather li {
  color: #5e5e5e;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.Weather canvas {
  display: inline-block;
  border: 0;
}

footer {
  text-align: center;
  margin-top: 10px;
}
